# $CVSHeader: _freebeer/www/.htaccess,v 1.1.1.1 2004/01/18 00:12:07 ross Exp $

# \todo clean this mess up!
# \todo test this to make sure it works

# Deny access to all CVS related files
<FilesMatch "^(\.cvsignore|.cvswrappers|CVS)$">
	Deny from all
</FilesMatch>

# disallow everything
#<FilesMatch ".">
#	Order deny,allow
#	Deny from all
#</FilesMatch>

# allow only web related files
#<FilesMatch "\.(css|gif|jpe?g|js|php|png)$">
#	Order allow,deny
#	Allow from all
#</FilesMatch>

# example of redirecting everything to index.php
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteRule !\.(css|gif|jpe?g|js|png)$ index.php
#</IfModule>

# for debugging only:
# Options -Indexes
Options +FollowSymLinks

ErrorDocument 400 /error.php
ErrorDocument 402 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

<IfModule mod_dir.c>
	DirectoryIndex index.php
</IfModule>

# Overload PHP variables:
<IfModule mod_php4.c>

# \todo clean up this mess

#	php_value include_path ".:/var/www/freebeer/lib/pear:/usr/share/pear:/usr/local/lib/pear:/usr/local/lib/php

	php_flag  display_errors	1
	php_flag  log_errors		1
	# \q what is this relative to?
#	php_value error_log		/home/smithii/tmp/error.log
#	php_value session.save_handler	files

	# turns on $php_errormsg variable
	php_value track_errors            1

#	php_value register_globals        0
#	php_value track_vars              1
#	php_value short_open_tag          1
#	php_value magic_quotes_gpc        0
#	php_value magic_quotes_runtime    0
#	php_value magic_quotes_sybase     0
#	php_value arg_separator.output    "&amp;"
#wtf?	
#	php_value session.cache_expire    200000
#	php_value session.cookie_lifetime 2000000
#	php_value session.auto_start      0
	php_value session.save_handler    files
#	php_value session.cache_limiter   none
	# don't know why this is here
	#php_value allow_call_time_pass_reference  0

</IfModule>

# to hide PHP:
#<IfModule mod_php4.c>
#	php_flag  expose_php		0
#	php_flag  display_errors	0
#</IfModule>
#
#ServerSignature Off

#AcceptPathInfo On

Options +MultiViews
DirectoryIndex index index.php index.html
